@import './reset.scss';
@import './dishlist.scss';
@import './detail.scss';
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:wght@600&family=Secular+One&display=swap');

body {
  position: relative;
  display: grid;
  background-color: #ccc;
  height: 100vh;

  #root {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 100%;
    
    font-family: 'Secular One', sans-serif;

      .main-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        
      }
  }
}

