@media only screen and (min-width: 320px) {
  .nav-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #000;
    text-align: center;
    height: 2.2em;
  }

  .nav-top .gearicon {
    color: transparent;
    background: url("../icons/gear.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 1.3rem;
  }

  .nav-top .nav-icon {
    color: #c6c6c6;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .nav-top .dropicon {
    color: transparent;
    background: url("../icons/search.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 1.3rem;
  }

  .nav-top .nav-title {
    position: relative;
    font-size: 18px;
    padding-top: 0.6em;
    color: #fffbb1;
  }

  .search-bar {
    position: relative;
    margin-top: 2.2rem;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: center;
    color: white;
    padding: 5px;
    text-decoration: none;
    height: 2.2em;
  }

  .search-bar .search-input {
    position: relative;
    border: none;
    padding-left: 10px;
    font-size: 12px;
  }

  .search-bar .search-button {
    position: relative;
    border: none;
    padding: 5px;
    font-size: 12px;
  }

  .item-list .menu-item {
    position: relative;
    text-decoration: none;
    color: white;
  }

  .item-list .menu-item .item-img {
    position: relative;
    display: grid;
    height: 30vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    font-family: 'Open Sans', sans-serif;
  }

  .item-list .menu-item .item-img .item-description {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    max-height: 38%;
    padding: 0.8rem;
    font-size: 12px;
    overflow: hidden;
  }

  .item-list .menu-item .item-img .item-description .item-title {
    position: relative;
    margin-bottom: 0.4rem;
  }

  .item-list .menu-item .item-img .item-description .item-cal-ing {
    position: relative;
    display: flex;
    font-family: 'Handlee', cursive;
    font-size: 12px;
  }

  .item-list .menu-item .item-img .item-description .item-cal-ing .item-calories {
    position: relative;
    margin-right: 0.5rem;
  }

  .item-list .menu-item .item-img .item-description .item-cal-ing .item-ingredient {
    position: relative;
    margin-left: 0.5rem;
  }

  .item-list .menu-item .item-img .item-description:hover {
    max-height: 48%;
  }

  .hide {
    display: none;
  }
}
