/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:wght@600&family=Secular+One&display=swap");
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav-top {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #000;
  text-align: center;
  height: 2.2em; }
  .nav-top .nav-icon {
    color: #c6c6c6;
    font-size: 16px;
    padding-top: 0.6em !important;
    border: none;
    cursor: pointer; }
  .nav-top .dropicon {
    color: transparent;
    background-image: url("../icons/search.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .nav-top .nav-title {
    position: relative;
    font-size: 18px;
    padding-top: 0.6em;
    color: #fffbb1; }

.search-bar {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
  color: white;
  padding: 5px;
  text-decoration: none;
  height: 2.2em; }
  .search-bar .search-input {
    position: relative;
    border: none;
    padding-left: 10px;
    font-size: 12px; }
  .search-bar .search-button {
    position: relative;
    border: none;
    padding: 5px;
    font-size: 12px; }

.item-list .menu-item {
  position: relative;
  text-decoration: none;
  color: white; }
  .item-list .menu-item .item-img {
    position: relative;
    display: grid;
    height: 30vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    font-family: 'Open Sans', sans-serif; }
    .item-list .menu-item .item-img .item-description {
      position: relative;
      background: rgba(0, 0, 0, 0.7);
      max-height: 38%;
      padding: 0.8rem;
      font-size: 12px;
      overflow: hidden; }
      .item-list .menu-item .item-img .item-description .item-title {
        position: relative;
        margin-bottom: 0.4rem; }
      .item-list .menu-item .item-img .item-description .item-cal-ing {
        position: relative;
        display: flex;
        font-family: 'Handlee', cursive;
        font-size: 12px; }
        .item-list .menu-item .item-img .item-description .item-cal-ing .item-calories {
          position: relative;
          margin-right: 0.5rem; }
        .item-list .menu-item .item-img .item-description .item-cal-ing .item-ingredient {
          position: relative;
          margin-left: 0.5rem; }
    .item-list .menu-item .item-img .item-description:hover {
      max-height: 48%; }

.detail-wrapper {
  width: 100%;
  min-height: 100%;
  color: white; }
  .detail-wrapper a {
    padding-top: 0.6em;
    text-decoration: none; }
  .detail-wrapper .detail-img {
    position: relative;
    display: grid;
    height: 96vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Handlee', cursive; }
    .detail-wrapper .detail-img .detail-tab {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, auto);
      max-height: 7vh;
      align-items: center;
      justify-items: center;
      background: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      font-family: 'Handlee', cursive;
      text-align: center; }
      .detail-wrapper .detail-img .detail-tab .tab-item {
        position: relative;
        width: 100%; }
      .detail-wrapper .detail-img .detail-tab .tab-item:active {
        color: #000; }
    .detail-wrapper .detail-img .details {
      position: relative;
      background: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      align-self: end;
      padding: 1.5vh; }
      .detail-wrapper .detail-img .details .detail-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px; }
      .detail-wrapper .detail-img .details .detail-prev {
        font-size: 12px; }
        .detail-wrapper .detail-img .details .detail-prev .detail-main {
          position: relative;
          display: grid;
          width: 100%;
          grid-template-columns: 80% auto;
          align-items: center;
          margin-bottom: 1vh; }
          .detail-wrapper .detail-img .details .detail-prev .detail-main .detail-calories {
            text-align: center; }
        .detail-wrapper .detail-img .details .detail-prev .detail-source {
          font-size: 11px;
          color: rgba(196, 196, 196, 0.959); }
      .detail-wrapper .detail-img .details .detail-ingredients .detail-ul-hl {
        position: relative;
        display: flex;
        justify-content: center;
        max-height: 27px;
        gap: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0.4rem 0; }
        .detail-wrapper .detail-img .details .detail-ingredients .detail-ul-hl .detail-li-hl {
          border-radius: 40px;
          padding: 0.2rem;
          text-align: center;
          color: rgba(0, 0, 0, 0.7);
          background: #f1f1f1; }
      .detail-wrapper .detail-img .details .detail-ingredients .detail-ul-ig .detail-li-ig {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0.2rem;
        font-size: 10px;
        overflow: visible;
        font-size: 13px; }
        .detail-wrapper .detail-img .details .detail-ingredients .detail-ul-ig .detail-li-ig .check-ig {
          margin-top: 0.2rem;
          background: none; }
        .detail-wrapper .detail-img .details .detail-ingredients .detail-ul-ig .detail-li-ig label {
          margin: 0.2rem;
          padding-top: 0.1rem; }
      .detail-wrapper .detail-img .details .detail-facts .detail-ul-fa {
        position: relative;
        margin-top: 1rem;
        font-size: 12px; }
        .detail-wrapper .detail-img .details .detail-facts .detail-ul-fa .detail-li-fa {
          position: relative;
          display: grid;
          grid-template-columns: 50% auto;
          margin-top: 0.2rem; }
          .detail-wrapper .detail-img .details .detail-facts .detail-ul-fa .detail-li-fa strong {
            font-family: 'Open Sans', sans-serif; }
          .detail-wrapper .detail-img .details .detail-facts .detail-ul-fa .detail-li-fa span {
            text-align: right; }
  .detail-wrapper .detail-error {
    position: relative;
    margin: 10rem 5rem;
    text-align: center;
    color: #202020; }

body {
  position: relative;
  display: grid;
  background-color: #ccc;
  height: 100vh; }
  body #root {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 100%;
    font-family: 'Secular One', sans-serif; }
    body #root .main-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 100%; }

/*# sourceMappingURL=index.css.map */
